<header>
    <link rel="stylesheet" href="/css/student.css">
</header>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sidebars</title>
        <link rel="stylesheet" href="styles copy.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
            rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet" />
        <script src="https://unpkg.com/akar-icons-fonts"></script>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="nav-conteiner">
            <div class="user">
                <i class="fa-regular fa-user"></i>
                <p> Xin chào {{user}}</p>
            </div>
        </div>
        <aside class="sidebar">
                    <header>
                        <button
                            type="button"
                            className="sidebar-burger"
                            onClick="toggleSidebar()">
                            <i class="ai-three-line-horizontal"></i>
                        </button>
                        <p class="navbar">Quản lí trung tâm</p>
                    </header>
                    <ul>
                        <li>
                            <a href="/quanli">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-home-alt1"></i>
                                    <p>Trang chủ</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-dashboard"></i>
                                    <p >Quản lí Blog</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                <i class="ai-person"></i>
                                <p>Học viên</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/student"><button
                                                type="button">Quản lí
                                                học viên</button></a>
                                    </li>
                                    <li>
                                        <a href="/student/reserve"><button
                                                type="button">Bảo
                                                lưu</button></a>
                                    </li>
                                    <li>
                                        <a href="/student/advise">
                                            <button type="button">Tư
                                                vấn({{newcount}})</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                 <i class="fa-solid fa-landmark"></i>
                                <p>Lớp học</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/class/creatClass">
                                            <button type="button">Tạo lớp học
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/arrangenClass">
                                            <button type="button">Xếp
                                                lớp</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class">
                                            <button type="button">Thông tin lớp
                                                học</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/score">
                                            <button type="button">Điểm
                                                thi</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/changeClass">
                                            <button type="button">Chuyển
                                                lớp</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/attend">
                                            <button type="button">Điểm
                                                danh</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                <i class="ai-person"></i>
                                <p>Giáo viên</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/teacher">
                                            <button type="button">Quản lí giáo
                                                viên</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/teacher/division">
                                            <button type="button">Phân
                                                công</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/course/listCourse">
                                <button type="button" onclick="onClick(this)">
                                    <i class="fa-brands fa-discourse"></i>
                                    <p>Khóa học</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/fee">
                                <button type="button" onclick="onClick(this)">
                                    <i class="fa-solid fa-money-bill"></i>
                                    <p>Học phí</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/login/logout">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-lock-on"></i>
                                    <p>Đăng xuất</p>
                                </button>
                            </a>
                        </li>
                    </ul>
                </aside>
        <div id="content">

            <h1>Danh sách lớp học</h1>
            <div class="infStudent">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="table-content">
                            <th scope="col">Mã lớp</th>
                            <th scope="col">Tên Lớp</th>
                            <th scope="col">Kỹ năng</th>
                            <th scope="col">Phòng</th>
                            <th scope="col">Ngày bắt đầu học</th>
                            <th scope="col">Số buổi học trên tuần</th>
                            <th scope="col">Giáo viên đảm nhiệm</th>
                            <th scope="col">Giờ học</th>
                            <th scope="col">Số lượng học viên trong lớp</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                        <tr class="table-data">
                            <td>{{this.id}}</td>
                            <td>{{this.nameclass}}</td>
                            <td>{{this.skill}}</td>
                            <td>{{this.phong}}</td>
                            <td class="date">{{this.ngayhoc}}</td>
                            <td>3 Buổi/Tuần({{this.buoihoc}})</td>
                            <td>{{this.fullname}}</td>
                            <td>{{this.giohoc}}</td>
                            <td>{{this.total_students}}</td>
                            <td>
                                <a
                                    href="/class/attend-class/?id={{this.id}}"
                                    class="btn btn-primary">
                                    Điểm danh
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="page">
                <a href="/?page={{nextPage}}"
                    class="backpage btn btn-dark">Back</a>
                <a href="/?page={{nextPage}}"
                    class="nextpage btn btn-dark">Next</a>
            </div>
        </div>
        <script src="main.js"></script>
    </body>

    <script>
  // Xử lý sự kiện nhấn nút "Next"
  document.querySelector('.nextpage').addEventListener('click', function(event) {
    event.preventDefault();
    const nextPage = parseInt(new URLSearchParams(window.location.search).get('page') || 1) + 1;
    window.location.href = `/class/attend/?page=${nextPage}`;
  });
</script>
    <script>
  // Xử lý sự kiện nhấn nút "BACK"
  document.querySelector('.backpage').addEventListener('click', function(event) {
    event.preventDefault();
    const nextPage = parseInt(new URLSearchParams(window.location.search).get('page') || 1) - 1;
    if(nextPage === 0){
        window.location.href = `/class/attend/?page=1`;
    }
    else{
    window.location.href = `/class/attend/?page=${nextPage}`;
    }
  });
</script>
</html>
