<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        const abc = {{countS}} - {{countT}}
        // Create the data table.
  var data = google.visualization.arrayToDataTable([
         ['Element', 'Density', { role: 'style' }],
         ['Tổng học viên', {{countS}}, '#38B3E3'],            // RGB value
         ['Chưa đóng tiền', abc, '#5ae31b']  ,        // English color name
         ['Đã đóng tiền', {{countT}}, '#fc5600']          // English color name
      ]);
        // Set chart options
        var options = {'title':'Số lượng học viên đã và chưa đóng tiền',
                       'width':500,
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
        <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        const total = 20 - {{countC}}
        var data = google.visualization.arrayToDataTable([
          ['Room', 'Use room'],
          ['Phòng học đã sử dụng',     {{countC}}],
          ['Phòng học còn lại',      total]
        ]);
        var options = {
          title: 'Phòng học'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport"
                    content="width=device-width, initial-scale=1.0" />
                <title>Sidebars</title>
                <link rel="stylesheet" href="styles copy.css" />
                <link rel="preconnect" href="https://fonts.googleapis.com" />
                <link rel="preconnect" href="https://fonts.gstatic.com"
                    crossorigin />
                <link
                    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
                    rel="stylesheet" />
                <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
                <link
                    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
                    rel="stylesheet" />
                <script src="https://unpkg.com/akar-icons-fonts"></script>
                <style>
            a{
                text-decoration: none;
            }
        </style>
            </head>
            <body>
                <div class="nav-conteiner">
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        <p> Xin chào {{user}}</p>
                    </div>

                </div>
                <div class="nav-search">
                    <form action id="search">
                        <label for="type">Chọn :</label>
                        <select name="type" id="type">
                            <option value="student">Học sinh</option>
                            <option value="teacher">Giáo viên</option>
                            <option value="class">Lớp học</option>
                        </select>
                        <input type="search" id="search-input"
                            placeholder="Tìm kiếm">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                            type="button">Tìm kiếm</button>
                    </form>
                    <ul class="dropdown" id="search-results"></ul>
                </div>
                <aside class="sidebar">
                    <header>
                        <button
                            type="button"
                            className="sidebar-burger"
                            onClick="toggleSidebar()">
                            <i class="ai-three-line-horizontal"></i>
                        </button>
                        <p class="navbar">Quản lí trung tâm</p>
                    </header>
                    <ul>
                        <li>
                            <a href="/quanli">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-home-alt1"></i>
                                    <p>Trang chủ</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-dashboard"></i>
                                    <p>Quản lí Blog</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                <i class="ai-person"></i>
                                <p>Học viên</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/student"><button
                                                type="button">Quản lí
                                                học viên</button></a>
                                    </li>
                                    <li>
                                        <a href="/student/reserve"><button
                                                type="button">Bảo
                                                lưu</button></a>
                                    </li>
                                    <li>
                                        <a href="/student/advise">
                                            <button type="button">Tư
                                                vấn({{newcount}})</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                <i class="fa-solid fa-landmark"></i>
                                <p>Lớp học</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/class/creatClass">
                                            <button type="button">Tạo lớp học
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/arrangenClass">
                                            <button type="button">Xếp
                                                lớp</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class">
                                            <button type="button">Thông tin lớp
                                                học</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/score">
                                            <button type="button">Điểm
                                                thi</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/changeClass">
                                            <button type="button">Chuyển
                                                lớp</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/class/attend">
                                            <button type="button">Điểm
                                                danh</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" onclick="onClick(this)">
                                <i class="ai-person"></i>
                                <p>Giáo viên</p>
                                <i class="ai-chevron-down-small"></i>
                            </button>
                            <div class="sub-menu">
                                <ul>
                                    <li>
                                        <a href="/teacher">
                                            <button type="button">Quản lí giáo
                                                viên</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/teacher/division">
                                            <button type="button">Phân
                                                công</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/course/listCourse">
                                <button type="button" onclick="onClick(this)">
                                    <i class="fa-brands fa-discourse"></i>
                                    <p>Khóa học</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/fee">
                                <button type="button" onclick="onClick(this)">
                                    <i class="fa-solid fa-money-bill"></i>
                                    <p>Học phí</p>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="/login/logout">
                                <button type="button" onclick="onClick(this)">
                                    <i class="ai-lock-on"></i>
                                    <p>Đăng xuất</p>
                                </button>
                            </a>
                        </li>
                    </ul>
                </aside>
                <div id="content">
                    <div class="row align-items-center">
                        <div class="col" id="student">
                            <a href="/student"><i class="fa-solid fa-user"
                                    style="color: #74C0FC;"></i></a>
                            <div class="count-student">
                                <p>Số lượng học viên: {{countS}}</p>
                            </div>
                            <a href="/student"
                                class="btn btn-light btn-sm">Manage</a>
                        </div>
                        <div class="col" id="teacher">
                            <a href="/teacher"><i class="fa-solid fa-user"
                                    style="color: #dc99e6;"></i></a>
                            <div class="count-teacher">
                                <p>Số lượng giáo viên: {{countTC}}</p>
                            </div>
                            <a href="/teacher"
                                class="btn btn-light btn-sm">Manage</a>
                        </div>
                        <div class="col" id="class">
                            <a href="/class"><i
                                    class="fa-solid fa-landmark"></i></a>
                            <div class="count-class">
                                <p>Số lượng lớp học: {{countC}}</p>
                            </div>
                            <a href="/class"
                                class="btn btn-light btn-sm">Manage</a>
                        </div>

                    </div>
                    <div id="chart-container" class="row">
                        <div id="chart_div" class="piechart"></div>
                        <div id="piechart" class="piechart"></div>
                    </div>

                </div>
                <script src="main.js"></script>
                <script src="dashboard.js"></script>
            </body>
        </html>
        <script src="/js/search/index.js"></script>
    </html>